/* ---------------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

body{
  background-color: var(--white-color) !important;
  transition: background-color 0.5s ease, color 0.5s ease;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

p,li,a, div {
  font-family: var(--main-font-family) !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font-family) !important;
}

a{
  text-decoration: none !important; 
}
p{
  line-height: 2em;
}

.container {
    padding: 5% 10%;
    position: relative;
  }

.page-view {
  min-height: 90vh;
}

.user-select {
  user-select: all;
  -webkit-user-select: all; 
}

/* --------------------------- Menu ------------------------------------------ */

.navbar{
  font-size: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
  color: var(--black-color) !important;
  font-weight: 800;
  display: block;
  padding: 25px;
}

.navbar-default .navbar-nav> li> a:hover, .navbar-default .navbar-nav> li> a:focus {
  color: var(--white-color) !important;
}

.navbar-default .navbar-nav> li> a:hover, .navbar-default .navbar-nav> li> a:hover {
  color: var(--brown-color) !important;
}

.navbar-default .navbar-nav> .active> a, .navbar-default .navbar-nav> .active> a:hover, .navbar-default .navbar-nav> .active> a:focus {
  color: var(--brown-color) !important;
}

.navbar .container-fluid .navbar-header a{
  color: inherit;
  position: relative;
}

.navbar >.navbar-nav>.resume-button {
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 300ms ease-in-out;
}

.navbar >.navbar-nav>.resume-button:after {
  color: var(--black-color) !important;
}

/* ---------------------------- PrÃ©sentation -------------------------------------*/

.img-intro img{
  position: absolute;
  max-width: 70%;
  width: 60%;
  height: auto;
  z-index: 1;
  filter: drop-shadow(2px 2px 8px var(--green-color));
}

.img-intro img:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}

.box-intro {
  border: 2px solid var(--black-color);
  box-shadow: 6px 6px var(--green-color);
  border-radius: 5px;
  display: inline-block;
  padding: 1em;
  margin: 5%;
}

.text-animate { 
  color:var(--brown-color); 
  white-space: nowrap;
  display: inline-block;
  font-weight: bold; 
  font-size: 5em;
}
.relative{
  position: relative;
  display: flex;
  gap: 1em;
}
.cursor{
  width: 3px;
  height: 150px;
  background: var(--red-color);
  animation: cursor 1s ease infinite;
}
@keyframes cursor{
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}

.strong-intro:hover {
  text-decoration: underline wavy; 
  text-underline-offset: 0.2em;
}
/* ----------------------- A propos de moi ------------------------------------------------------ */

.img-about-me img{
  position: relative;
  width: 80%;
  height: auto;
  filter: drop-shadow(4px 4px 8px var(--white-color));
  transition: transform 0.7s ease; 
}

.img-about-me img:hover {
  transform: translateY(-5%);
}

#about.content-fluid {
  background-color: var(--green-color);
  color: var(--white-color);
}

#about .about-title {
  font-weight: bold;
  margin-bottom: 5%;
  text-decoration: underline wavy;
  text-underline-offset: 15px;
}

#about p {
  font-size: 1.6em;
  margin-bottom: 5%;
}

#about i {
  font-size: 2.5em;
  margin: 1%;
}

.collapsible-skills > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.collapsible-skills .content-collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease; 
}

.collapsible-skills > input[type="checkbox"]:checked ~ .content-collapsible {
  height: auto;
  overflow: visible;
  transition: max-height 0.3s ease; 
}

.collapsible-skills label {
  display: block;
  color: var(--brown-color);
  cursor: pointer;
  font-weight: normal;
  padding: 1em;
  background: var(--white-color);
  margin-bottom: 1em;
}

.collapsible-skills label:hover,
.collapsible-skills label:focus {
  background: #f0eeee;
}

.collapsible-skills .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.collapsible-skills {
  max-width: 40em;
  width: max-content;
  height: max-content;
}

.collapsible-skills p:last-child {
  margin-bottom: 0;
}

section.collapsible-skills {
  margin-top: -30%;
}


/* -------------------- Experiences -------------------------------------------- */

.experience-title {
  text-underline-offset: 0.em;
  font-weight: bold;
  font-size: 4em;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 0.625em solid transparent;
  border-right: 0.625em solid transparent;
  border-top: 0.625em solid var(--beige-color);
  margin-left: 0.625em;
  transition: transform 0.3s ease;
}

.collapsible-experience input[type="checkbox"]:checked + .experience .arrow {
  transform: rotate(180deg);
}

.collapsible-experience input[type="checkbox"]:checked + .experience + .content-collapsible {
  max-height: 100%;
  transition: max-height 0.3s ease;
}

#experience::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 55%;
  transform: translateX(-50%);
  width: 50%;
}

.collapsible-experience {
  max-width: 50em;
  width: max-content;
  height: max-content;
  margin-bottom: 1em;
  font-size: 20px;
}

.collapsible-experience > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.collapsible-experience .content-collapsible {
  max-height: 0;
  overflow: hidden;
  flex: 2;
  transition: max-height 0.3s ease;
}

.collapsible-experience > input[type="checkbox"]:checked ~ .content-collapsible {
  height: auto;
  overflow: visible;
}

.collapsible-experience li > a {
  color: var(--violet-color);
  text-decoration: underline !important;
  font-weight: bold;
}

.collapsible-experience > input[type="checkbox"]:checked ~ .content-collapsible {
  padding: 1.875em;
  border: 0.0625em solid var(--black-color);
  border-top: 0;
}

.collapsible-experience .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.collapsible-experience label {
  color: var(--beige-color);
  cursor: pointer;
  font-weight: normal;
  padding: 1.875em;
  background: var(--red-color);
  display: block;
  flex: 1;
  margin: 0;
  cursor: pointer;
}

.collapsible-experience label:hover,
.collapsible-experience label:focus {
  background: #423e50;
}

.collapsible-experience p:last-child {
  margin-bottom: 0;
}

#experience i {
  font-size: 3.125em;
}

/* ----------------------- Work ------------------------------------------------------ */

#work {
  margin-top: 2em;
}

#work .container {
  background-color: var(--beige-color);
}

.cards-container {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  /* align-items: stretch; */
  flex-wrap: wrap;
}

.card-container-video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 20em; 
  height: 20em; 
  margin: 2em;
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  position: relative;
  box-shadow: 0.5em 0.5em var(--brown-color);
  cursor: pointer; 
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: var(--black-color);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.5); 
  font-size: 1.5em;  
}

.card:hover .card-content {
  opacity: 1;
}

.card-content p {
  font-size: 0.875em;
  margin-top: 0.625em;
}

.date {
  font-size: 0.75em;
  margin-top: 0.625em;
}

.card a {
  text-decoration: none;
  color: var(--white-color);
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  transition: opacity 0.3s ease-in-out;
}

.card:hover img {
  opacity: 0; 
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 1.25em;
  }
}

/* ----------------------- Contact ------------------------------------------------------ */

#contact {
  font-size: 2.5em;
  margin-top: 7%;
}

#contact i {
  color: var(--red-color);
}

#contact a{ 

    color: var(--black-color);
  text-decoration: underline;
}

#contact .container {
  margin-top: 5%;
}
/* ----------------------- Footer ------------------------------------------------------ */


footer {
  width: 100%;
  padding: 3% 0;
	background-color: var(--brown-color);
}
footer p {
	font-size: 1.2em;
  color: #ebe9e9;
	cursor: pointer;
}
footer p:hover {
	color: var(--white-color);
}

footer a i {
  color: #ebe9e9;
  cursor: pointer;
}

footer ul li a {
  color: var(--beige-color);
  font-size: 1.5em;
  margin: 0 1em;
}
footer ul li a:hover {
  color: var(--violet-color);
}

footer a i:hover {
	color: var(--white-color);
}

footer .fa-heart {
  color: var(--violet-color);
  cursor: pointer;
}


/* ----------------------------------------------- media queries ----------------------------------------------------------------- */

@media screen and (max-width: 768px) { 
  h1, h2, h3, h4, h5, h6 {
    font-size: 75%;
  }
  p {
    font-size: 85%;
  }
  .container {
    padding: 20px;
  }
  .navbar-collapse {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
  .img-intro img {
    width: 30%;
  }

  .box-intro, .text-animate, .relative {
    margin: 20px; 
    padding: 5px;
    font-size: 50px; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

#experience {
  margin-right: 20px; 
}
  .cursor {
    height: 75px; 
  }

  #experience .experience-title {
    font-size: 3em; 
  }

  .collapsible-skills {
    width: 100%;
    position: relative;
    margin-bottom: 30em;
  }
  footer{
    padding: 5% 0;
  }
  #contact h2, #contact{
    font-size: 1em;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    padding: 40px;
  }
  .navbar-default .navbar-nav>li>a {
    padding: 15px;
  }
  .img-about-me img {
    width: 50%;
  }
  .img-intro img{
    width: 40%;
  }
  .text-animate {
    font-size: 60px;
  }
  .collapsible-skills {
    width: 100%;
    position: relative;
    top: 25em;
  }
  .collapsible-experience, .collapsible-experience .content-collapsible {
    width: 100%; 
  }
    #about.content-fluid {
    padding-bottom: 20em;
  }
}

@media screen and (max-width: 1200px) {
  .img-about-me img {
    width: 50%;
  }
  .img-intro img{
    width: 40%;
  }
  .collapsible-skills {
    width: 100%;
    position: relative;
    top: 25em;
  }
  #about.content-fluid {
    padding-bottom: 20em;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }
  .navbar-collapse {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 75%;
  }
  p {
    font-size: 85%;
  }
  .img-intro img, .img-about-me img {
    width: 80%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }
}

@media screen and (max-width: 680px) {
  .navbar-collapse {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 75%;
  }
  p {
    font-size: 85%;
  }
  .img-intro img, .img-about-me img {
    width: 80%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }
  .collapsible-experience, .collapsible-experience .content-collapsible {
    width: 100%; 
  }
  .collapsible-skills {
    width: 100%;
    position: relative;
    top:20em;
  }
  #about.content-fluid {
    padding-bottom: 20em;
  }
}

/* ---------------------------------- Bouton Back to top ------------------------------------------------------------- */

.back-to-top {
  position: fixed;
  z-index: 1;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--violet-color);
  font-size: 1.3em;
  padding: 1em;
  display: none;
}

.back-to-top:hover, .back-to-top:focus, .back-to-top:active {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white-color);
} 

/* ----------------------------------------------- Bouton dark-light mode -------------------------------------------------------- */

.dark-mode button {
  background-color: var(--green-color);
  color: var(--black-color);
}

.dark-mode button:hover {
  background-color: var(--brown-color);
  color: var(--white-color);
}

#mode-toggle {
  background-color: var(--white-color);
  color: var(--black-color);
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}

#mode-toggle.dark-mode {
  background-color: var(--black-color);
  color: var(--white-color);
}

#mode-toggle.dark-mode i.fa-sun {
  display: none;
}

#mode-toggle.dark-mode i.fa-moon {
  display: inline-block;
}

#mode-toggle i.fa-sun {
  display: inline-block;
}

#mode-toggle i.fa-moon {
  display: none;
}

#mode-toggle:hover {
  color: var(--green-color);
}

#mode-toggle .dark-mode:hover {
  color: var(--green-color);
}
/* ----------------------------------------------- CSS du Dark mode -------------------------------------------------------- */

/* ---------------------------- Dark Mode -------------------------- */
.dark-mode {
  --white-color: #070707;
  --black-color: #f9f9f9;
  --green-color: #9d8189;
  --brown-color: #565264;
  --red-color:  #706677;

  background-color: var(--white-color) !important;
  color: var(--black-color) !important;
}

.dark-mode .text-animate {
  color: var(--black-color)!important;
}
.dark-mode .cursor {
  background-color: var(--black-color);
}

.dark-mode .navbar-default {
  background-color: var(--white-color);
}

.dark-mode .navbar-default .navbar-nav>li>a {
  color: var(--black-color) !important;
}

.dark-mode .navbar-default .navbar-nav> .active> a, .dark-mode .navbar-default .navbar-nav> .active> a:hover, .dark-mode .navbar-default .navbar-nav> .active> a:focus {
  color: var(--white-color) !important;
}

.dark-mode button#mode-toggle {
  color: var(--black-color) !important;
  background-color: var(--white-color) !important;
}

.dark-mode .img-intro img {
  filter: drop-shadow(2px 2px 8px var(--brown-color));
}

.dark-mode #about.content-fluid {
  color: var(--black-color);
}

.dark-mode .card-content{
  background-color: rgb(46, 46, 46);
}

.dark-mode footer {
  background-color: var(--green-color);
}

.dark-mode footer p {
  color: var(--black-color);
}
.dark-mode footer a:hover {
  color: rgb(212, 210, 210);  
}

.dark-mode footer a i {
  color: var(--black-color);
}

.dark-mode footer a i:hover {
  color: rgb(212, 210, 210);
}

.dark-mode footer {
  background-color: var(--brown-color);
}

.dark-mode .back-to-top:hover, .dark-mode .back-to-top:focus {
  background-color: rgb(85, 83, 83);
}

.dark-mode #home .text-animate {
  color: var(--brown-color);
}

.dark-mode .collapsible-experience label {
  background: var(--red-color);
  color: var(--black-color) !important;
}

.dark-mode .collapsible-experience label:hover,
.dark-mode .collapsible-experience label:focus {
  background: #423e50;
}

.dark-mode .collapsible-skills label {
  background: rgb(46, 46, 46);
  color: var(--black-color) !important;
}

.dark-mode .collapsible-skills label:hover,
.dark-mode .collapsible-skills label:focus {
  background: var(--white-color);
}

.dark-mode #work .container {
  background-color: var(--green-color);
}

.dark-mode .card {
  box-shadow: 8px 8px var(--red-color);
}

.dark-mode .collapsible-experience li > a {
  color: #C3A09D;
  text-decoration: underline !important;
}

.dark-mode #about {
 background-color: var(--brown-color);
}

.dark-mode .back-to-top {
  color: var(--black-color);
}

.dark-mode .boo {
  background-color: var(--black-color);
}